<?xml version=1.0 encoding=utf-8?>

<Settings>

	<GameDifficulty difficulty="0"/>
	
	<Display
		width="1080"
		height="720"
		fullscreen="false"/>
	
	<Sound
		masterVolume="80"
		soundEffects="60"
		music="50"
		voice="60"
		micLevel="50"/>
	
	<MouseSettings
		Xsense="50"
		Ysense="50"
		inversed="false"/>
	
	<KeySettings
		forward="W"
		backward="S"
		left="A"
		right="D"
		fire=","/>
	
</Settings>